{% extends 'layouts/page_with_header.html.twig' %}

{% block title %}Create New Game - SOA{% endblock %}

{% block page_title %}Create New Game{% endblock %}

{% block page_subtitle %}Build your strategic empire{% endblock %}

{% block page_actions %}
    <a href="{{ path('app_games') }}" class="btn btn-outline">
        {{ ux_icon('lucide:arrow-left') }}
        Back to Games
    </a>
{% endblock %}

{% set page_content_class = 'centered' %}

{% block content %}
    <turbo-frame id="game-create-form" data-turbo-action="advance">
        {{ component('GameCreateFormComponent') }}
    </turbo-frame>
{% endblock %}
