<div class="default-panel">
    <div class="panel-header">
        <h3>Information Panel</h3>
        <button class="panel-close" 
                type="button"
                data-action="live#action"
                data-live-action-param="close">
            &times;
        </button>
    </div>
    
    <div class="panel-content">
        <div class="default-info">
            <p>Select an object on the map to view its details.</p>
            <p>Available objects:</p>
            <ul>
                <li>Hex tiles - Click on map tiles</li>
                <li>Units - Click on units</li>
                <li>Cities - Click on cities</li>
            </ul>
        </div>
    </div>
</div> 